/.vs
/AspNetCorePdf/bin
/AspNetCorePdf/obj
/PdfSharp/bin
/AspNetCorePdf/wwwroot
/PdfSharp/obj
/MigraDoc.DocumentObjectModel/bin
/MigraDoc.DocumentObjectModel/obj
/MigraDoc.Rendering/obj
/PdfSharp.Charting/obj
/PdfSharp.Charting/bin
/MigraDoc.Rendering/.vs
/MigraDoc.Rendering/bin
